.nav {
  background-color: var(--element-color);
  box-shadow: 2px 0px 5px var(--shadow-color);
}

.flex {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0;
}

.title {
  font-weight: 800;
  font-size: 1rem;
}

@media (min-width: 992px) {
  .title {
    font-weight: 800;
    font-size: 1.3rem;
  }
}
